.body-back {
  width: 100%;
    background-color: var(--color-blue);
    box-sizing: content-box;
    margin-right: 0px;
}
div#chat-robbu.cr-float.cr-active {
  background-color:  #111B4F;
  border-radius: 55px;
}
a#flecha.flecha-arriba {
  top: 5px;
  left: 8px;
  border-radius: 50%;
  background-color:  #111B4F;
}
i.fas.fa-angle-double-up {
  width: 22px;
  height: 22px; 
  text-align: center;
  align-items: center;
}
i.fas.fa-angle-double-up::before {
  color: #E5E5E5;
  width: 20px;
  height: 28px;
  top: 5px;
  left: 8px;
}
nav.navbar_main {
  width: 100%;
  margin-top: 95px;
  background-color: var(--color-grey);
  font-family: var(--font-titles);
  height: 29px;
}
.navbar_main ul {
  margin-left: 25px;
  
}
.navbar_main ul li{
  display: inline-block;
  font-family: var(--font-titles);
  width: 30%;
}
.navbar_main ul li a {
  color: var(--color-blue);
  font-family: var(--font-titles);
  font-size: 15px;
  cursor: pointer;
}

section.containerReparto {
  position: relative;
 top: 5px;
 box-sizing: content-box;
  width: 100%;
  height: 1030px;
background-color: #E5E5E5;
}
h5.containerReparto {
  width: 100%;
 color:  #111B4F;
 text-align: center;
  position: relative;
  top: 10px;
  bottom: 10px;
  font-family: var(--font-titles);
  font-size: 20px;
  height: 30px;
}
div.reparto-container {
  display: flex;
  font-family: var(--font-paragraphs);
  height: 350px;
  margin-right: 9px;
  
}
div.lista-reparto {
  position: relative;
  width: 50%;
top:20px;
text-align: center;
}
ul.lista {
  height: 350px;
  color: var(--color-blue);
font-family: var(--font-paragraphs);
}
.lista li {
  text-decoration: double;
  font-size: 13.5px;
  padding: 0 0 3px 0;
}
li#espacio {
  padding-top: 8px;
}
div.rol-reparto {
  position: relative;
  width: 45%;
  top:20px;
  height: 330;
  left: 10px;
  text-align: right;
 
}
ul#rol.rol {
  height: 350px;
}
ul.rol li {
  font-size: 13px;
  padding: 0 5px 3px 0;
}
li::marker {
  display: list-item;
  list-style-type: none;
}
div.foto0 {
  display: flex;
  position: relative;
  width: 100%;
  height: 190px;
  top: 40px;
  left: 10px;
  bottom: 5px;
}
img.img-reparto0{
  
  width: 45%;
  height: 100%;
  left: 8px;
}
p.foto0{
  width: 50%;
  height: 100%;
  text-align: center;
  margin-right: 10px;
  font-family: var(--font-paragraphs);
}
#text {
  height: 190px;
font-size: 12px;
padding: 0 5px 0 5px;
}
div.foto1 {
  display: flex;
  position: relative;
  width: 100%;
  height: 190px;
  top: 50px;
  
}
p.foto1{
  width: 50%;
  height: 100%;
  text-align: center;  
  font-family: var(--font-paragraphs);
}
img.img-reparto1{
  width: 45%;
  height: 100%;
}
p#text.foto1 {
  margin: 0%;
}

div.foto2 {
  display: flex;
  position: relative;
  width: 100%;
  height: 190px;
 left: 8px;
  top: 70px;

}
img.img-reparto2{
  width: 45%;
  height: 100%;
  
}
p.foto2{
  width: 50%;
  height: 150px;
  text-align: center;
  margin-right: 10px;
  font-family: var(--font-paragraphs);
}

/* carousel------- */
section#img-back.carousel-back {
  position: relative;
  width: 100%;
  text-transform: var(--font-titles);
  padding-top: 85px;
} 

h5.carousel-back{
  font-family: var(--font-titles);
  color: var(--color-grey);
  height: 40px;
  font-size: 24px;
  text-align: center;
  border-top: 90px;
}

/* Slideshow container */
.carouselContainer { 
  max-width: 1200px; 
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
} 

div.mySlides img {
  max-height: 492px; 
  /* La height que traia desde el principio, era demasiado alto. 
  Aqui las fotos del carousel tendran un máximo de altura,
  no se deforman las fotos*/
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/* end carousel---------------- */
section#equipo-back.equipo-reparto {
  padding-top: 60px;
  height: 600px;
}
section.equipo-reparto {
  position: relative;
  display: block;
  width: 100%;
  height: 580px;
  background-color: #f2f2f2;
  font-family: var(--font-titles);
}
h5.equipo-reparto {
  width: 100%;
  text-transform: var(--font-titles);
  color: var(--color-blue);
 text-align: center;
  position: relative;
  top: 10px;
  bottom: 10px;
  font-size: 20px;
  height: 30px;
}
ul.equipo-reparto {
  position: relative;
  width: 100%;
  text-align: center;
  top: 25px;
  margin-right: 10px;
  text-decoration: none;
  font-size: 14px;
}


/* MEDIA QUERY - 425 px */
@media(min-width: 425px) {

  .body-back .navbar_main {
    height: 30px;
  }

  .navbar_main ul li a {
    font-size: 15px;
  }
  section.containerReparto {
  top: 5px;
  width: 100%;
  height: 1120px;
  background-color: #f2f2f2;
  font-family: var(--font-titles);
}
h5.containerReparto {
  bottom: 20px;
  font-size: 24px;
  height: 40px;
  }
  div.reparto-container {
    height: 380px;
  }
  div.lista-reparto {
   height: 320px;
  }
  ul.lista {
    font-family: var(--font-paragraphs);
    height: 320px;
  }
  ul.lista li {
    font-family: var(--font-paragraphs);
    font-size: 14px;
  }
  div.rol-reparto {
    height: 350px;
   }
   ul.rol {
     font-family: var(--font-paragraphs);
     height: 350px;
    
   }
   ul.rol li {
    text-align: justify;

   }
   ul#rol.rol {
    font-size: 13px;
    padding: 0 4px 3px 0;
  }
  div.foto0 {
    width: 95%;
    height: 200px;
    top: 30px;
    left: 10px;
    margin-bottom: 20px;
  }
  div.foto1 {
    width: 95%;
    height: 200px;
    top: 30px;
    margin-bottom: 20px;
  }
  img.img-reparto1 {
    width: 50%;

  }
  div.foto2 {
    width: 95%;
    height: 200px;
    top: 30px;
    margin-bottom: 20px;
    
  }
  p.foto2 {
    width: 50%;
   height: 200px;
  }
  section#equipo-back.equipo-reparto {
    height: 750px;
  }
  section.equipo-reparto {
   font-size: 16px;
    height: 900px;
  }
  h5.equipo-reparto {
    top:30px;
    font-size: 28px;
    height: 60px;
  }
  ul.equipo-reparto {
    position: relative;
    top: 40px;
   font-size: 15px;
  }
  ul.equipo-reparto a {
   text-decoration: none;
  }
}
/* MEDIA QUERY - 768px */
@media(min-width: 768px) {
  .body-back .navbar_main {
    height: 35px;
  }

  .navbar_main ul li a {
    font-size: 18px;
  }
  section.containerReparto {
 font-size: 18px;
 height: 1550px;
}
 h5.containerReparto {
  font-size: 30px;
  height: 80px;
  }
  div.reparto-container {
    height: 520px;
  }

  div.lista-reparto {
    height: 480px;
   }
   ul.lista {
     font-family: var(--font-paragraphs);
     height: 480px;
   }
   ul.lista li {
     font-family: var(--font-paragraphs);
     font-size: 20px;
   }
   div.rol-reparto {
     height: 480px;
    }
    ul.rol {
      font-family: var(--font-paragraphs);
      height: 480px;
     
    }
    ul.rol li {
     font-size: 20px;
     text-align: justify;
 
    }
  div.foto0 {
    height: 270px;
  }
  img.img-reparto0 {
    width: 45%;
  }
  p.foto0 {
    font-size: 18px;
    
  }
  p#text {
    right: 10px;
    font-size: 18px;
  }
  div.foto1 {
    width: 95%;
    height: 270px;
  }
  img.img-reparto1 {
    width: 45%;
  }
  p.foto1 {
    font-size: 18px;
  }
  div.foto2 {
    width: 95%;
    height: 270px;
  }
  img.img-reparto2 {
    width: 45%;
  }
  p.foto2 {
    font-size: 18px;
  }
  section#equipo-back.equipo-reparto {
    height: 780px;
  }
  h5.equipo-reparto {
    font-size: 30px;
    height: 50px;
  }
  ul.equipo-reparto {
    position: relative;
    top: 55px;
    text-decoration: none;
    font-size: 18px;
  }
  
}
/* MEDIA QUERY - 1024px */
@media(min-width: 1024px) {
  .iframe {
   visibility: hidden;

  }
  .navbar_main ul li a {
    font-size: 20px;
  }
  h5.containerReparto {
    font-size: 38px;
    height: 70px;
    }
    ul.lista li {
      font-size: 23px;
    }
    ul.rol li {
      font-size: 23px;
     }
     #text {
      font-size: 22px;
    }
    div.reparto-container {
      height: 550px;
    }
      section#equipo-back.equipo-reparto {
        height: 980px;
      }
      h5.equipo-reparto {
        font-size: 35px;
      }
      ul.equipo-reparto {
        font-size: 20px;
      }
}