.body-back {
    background-color:  #111B4F;

}
.navbar_main {
  background-color: #E5E5E5;
  font-family: var(--font-titles);
  height: 30px;
  width: 100%;
  
}
.navbar_main ul {
  margin-left: 25px;
  
}
.navbar_main ul li{
  display: inline-block;
  font-family: var(--font-titles);
  width: 30%;
}
.navbar_main ul li a {
  color: var(--color-blue);
  font-family: var(--font-titles);
  font-size: 16px;
  cursor: pointer;
}

section.containerReparto {
  position: relative;
 top: 10px;
 font-size: 11px;
  width: 100%;
  height: 560px;
background-color: #f2f2f2;
font-family: var(--font-titles);


}
h5.containerReparto {
  width: 100%;
  text-decoration-color:  #111B4F;
 text-align: center;
  position: relative;
  top: 10px;
  bottom: 10px;
  font-size: 20px;
  height: 30px;
  

}
div.foto0 {
  display: flex;
  position: relative;
  width: 100%;
  height: 140px;
  top: 30px;
  left: 10px;
  
}
img.img-reparto0{
  
  width: 50%;
  height: 100%;
  left: 8px;
}
p.foto0{
  width: 50%;
  height: 100%;
  text-align: center;
  margin-right: 10px;
}
div.foto1 {
  display: flex;
  position: relative;
  width: 100%;
  height: 140px;
  top: 50px;
  
}
p.foto1{
  width: 45%;
  height: 100%;
  text-align: center;  
}
img.img-reparto1{
  width: 45%;
  height: 100%;
  right: 10px;
}

div.foto2 {
  display: flex;
  position: relative;
  width: 100%;
  height: 140px;
 left: 8px;
  top: 70px;

}
img.img-reparto8{
  width: 45%;
  height: 100%;
  
}
p.foto2{
  width: 50%;
  height: 140px;
  text-align: center;
  margin-right: 10px;
}
section.carrousel-back {
  background-color:  #111B4F;
  width: 100%;
  height: 400px;
text-transform: var(--font-titles);


}
h5.carousel-back{
  position: relative;
  text-transform: var(--font-titles);
  color:  #E5E5E5;
  height: 40px;
  font-size: 20px;
  text-align: center;
 top:20px;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 400px;
  position: relative;
  top: 10px;
}
img.carousel-back {
  width: 100%;
  height: 400px;
  vertical-align: middle;
 top: 5px;
}

/* Hide the images by default */
.mySlides {
width: 100%;
height: auto;
}

a.prev {
  left: 0px;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  -webkit-user-selec:auto;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

div.carousel-back {
  justify-content: center;
  margin-top: 20px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

section.equipo-reparto {
  display: block;
  margin-top: 10px;
 font-size: 11px;
 width: 100%;
  height: 580px;
background-color: #f2f2f2;
font-family: var(--font-titles);
}
h5.equipo-reparto {
  width: 100%;
  text-transform: var(--font-titles);
  text-decoration-color:  #111B4F;
 text-align: center;
  position: relative;
  top: 10px;
  bottom: 10px;
  font-size: 20px;
  height: 30px;
}
ul.equipo-reparto {
  position: relative;
  width: 100%;
  text-align: center;
  top: 20px;
  margin-right: 10px;
}
/* MEDIA QUERY - 425 px */
@media(min-width: 425px) {

  .body-back .navbar_main {
    height: 30px;
  }

  .navbar_main ul li a {
    font-size: 18px;
  }
  section.containerReparto {
   
 top: 10px;
 font-size: 14px;
  width: 100%;
  height: 720px;
background-color: #f2f2f2;
font-family: var(--font-titles);

}
h5.containerReparto {
  bottom: 20px;
  font-size: 26px;
  height: 30px;
  }
  div.foto0 {
    height: 200px;
    top: 30px;
    left: 10px;
    margin-bottom: 20px;
  }
  div.foto1 {
    height: 200px;
    top: 30px;
    left: 10px;
    margin-bottom: 20px;
  }
  div.foto2 {
    height: 200px;
    top: 30px;
    left: 10px;
    margin-bottom: 20px;
    
  }
  section.carrousel-back {
    height: 615px;
  
  }
  h5.carousel-back{
    height: 40px;
    font-size: 24px;
   top:35px;
  }
  .slideshow-container {
    height: 540px;
    top: 35px;
  }
  img.carousel-back {
    height: 500px;
   top: 5px;
  }
  div.carousel-back {
    margin-top: 10px;
    height: 50px;
  }
  section.equipo-reparto {
   font-size: 16px;
    height: 1200px;
  }
  h5.equipo-reparto {
    font-size: 26px;
    height: 30px;
  }
  ul.equipo-reparto {
    top: 20px;
    margin-right: 10px;
  }
}
/* MEDIA QUERY - 768px */
@media(min-width: 768px) {

}
/* MEDIA QUERY - 1024px */
@media(min-width: 1024px) {

}