footer {
    width: 100%;
    height: 200px;
    background-color: var(--color-grey);
}

footer .line-footer {
    background-color: var(--color-blue);
    width: 80%; 
    height: 4px;
}

footer a i.fab {
    color: var(--color-blue);
}

/* footer img.img-footer {

} */