footer {
    width: 100%;
    height: 500px;
    background-color: var(--color-grey);
}

footer .title-footer {
    font-family: var(--font-titles);
    font-size: 20px;
    text-align: center;
    
}

footer .line-footer {
    background-color: var(--color-blue);
    width: 80%; 
    height: 4px;
    margin-bottom: 20px;
    margin-top: 20px;
}

footer .icons-footer {
    width: 100%;
    text-align: center;
}

footer .icons-footer a i.fab, .far {
    color: var(--color-blue);
    font-size: 30px;
    margin: 0 10px;
}

footer .logos-footer {
    width: 100%;
    text-align: center;
}

footer img.img-footer {
    width: 90px;
    height: 70px;
} 

footer img.square {
    width: 90px;
    height: 90px;
}

footer img.height {
    width: 80px;
    height: 90px;
}