.col {
   display:flex;
   flex-direction:column;
}
.topnav {
    display:flex;
    flex-direction:row;
    background-color: gray;
    align-items:center
  }
  .topnav ul li{
    list-style:none;
  }
  
  /* Style the links inside the navigation bar */
  .topnav ul li a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    
  }
  
  /* Change the color of links on hover */
  ..topnav ul li a {
    background-color: green;
    box-shadow: blue;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #9B59B6;
    color: black;
  }
  