.col {
   display:flex;
   flex-direction:column;
   border-style:1px solid black;
   padding: 10px;
   font-size:20px;
  
}
.topnav1 {
    display:flex;
    flex-direction:row;
    background-color: gray;
    border-style:1px solid black;
    font-size:20px;
    color:black;
    
  }
  .topnav1 ul li{
    list-style:none;
    border-style:1 px solid black;
  }
  
  /* Style the links inside the navigation bar */
  .topnav1 ul li a {
    
    color: black;
    text-align: center;
    text-decoration: none;
    
  }

  .topnav ul li a .img {
    display:flex;
    flex-direction:row;
    width:100px;
           
   }
   .topnav ul li a .img img{
     align-items:right;
     margin-left: auto;
     margin-right: auto;
     object-fit:contain;
 
   }
   /* Change the color of links on hover */
   .topnav ul li a:hover {
     background-color: green;
     box-shadow: blue;
   }
 
  .topnav1 ul li a img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit:contain;       
  }
  
  /* Change the color of links on hover */
  .topnav {
    display:flex;
    flex-direction:row;
    background-color: gray;
    border-style:1px solid black;
    
  }
  .topnav ul li{
    list-style:none;
    border-style:1px solid black;
  }
  
  /* Style the links inside the navigation bar */
  .topnav ul li a {
    
    color: black;
    text-align: center;
    text-decoration: none;
    
  }

  
  .topnav ul li a:hover {
    background-color: green;
    box-shadow: blue;
  }
  
 