.col {
   display:flex;
   flex-direction:column;
   list-style:none;
}
.topnav {
    display:flex;
    flex-direction:row;
    background-color: gray;
    
  }
  .topnav ul li{
    list-style:none;
  }
  
  /* Style the links inside the navigation bar */
  .topnav ul li a {
    
    color: black;
    text-align: center;
    text-decoration: none;
    
  }

  .topnav ul li a img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit:contain;       
  }
  
  /* Change the color of links on hover */
  .topnav ul li a:hover {
    background-color: green;
    box-shadow: blue;
  }
  
 