/* min-width 320px */ 
.body-home {
    background-color: var(--color-blue);
}

/* Etiqueta nav que formaria parte del header----- */
.body-home .navContainer {
    background-color: var(--color-grey);
    width: 100%;
    flex-direction: row;
    margin-top: 95px; /* margin-top: 95px; */
}

.body-home .navContainer ul {
    display: flex;
    justify-content: space-around;
}

.body-home .navContainer ul li{
    list-style: none;
}

.body-home .navContainer ul li a {
    color: var(--color-blue);
    font-family: var(--font-titles);
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
}

/* Sección del gif junto con los títulos----- */
.body-home img.gifContainer {
    width: 100%;
    height: 200px; /* ?? */
    position: relative; 
    margin-top: 5px;
}

.body-home .titles {
    font-family: var(--font-titles);
    text-transform: uppercase; /* mayúsculas */
    position: absolute;
    text-align: center; /* centrado de las mismas etiquetas */
    width: 100%;
    top: 120px; /*  */
    font-weight: 600;
    text-shadow: 2.8px 3px var(--color-blue); /* sombra de la letra */
}

.body-home .titles .blue {
    color: var(--color-lightBlue);
}

.body-home .titles .white {
    color: white;
}

.body-home .titles .small {
    font-size: 18px;
}

/* Sección del trailer----- */
.body-home .trailerContainer {
    text-align: center;
    margin-bottom: 40px;
}

.body-home h2.sub-titles {
    font-family: var(--font-titles);
    color: var(--color-grey);
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    padding-top: 90px;
}

.body-home .trailerContainer iframe {
    width: 90%; 
    height: 220px; 
}
/* width="90%" (html)
heigth="315"  */ 

/* Sección de la reseña/sinopsis----- */
.body-home .reseñaContainer {
    background-color: var(--color-grey);
    padding: 30px 10px;
    width: 100%;
}

.body-home .reseñaContainer .reseñaParagraph {
    color: var(--color-blue);
    font-family: var(--font-paragraphs);
    text-align: center;
    margin-bottom: 15px;
}

.body-home .reseñaContainer .reseñaParagraph .special-title {
    font-family: var(--font-titles);
    color: var(--color-blue);
    text-align: center;
    font-size: 20px;
    padding-top: 90px;  /* ---------------------------- */
}

.body-home .reseñaContainer img.imgReseña {
    display: flex;   
    width: 250px; 
    height: 250px; 
}

/* Sección del carrusel de 10 imágenes----- */
/* contenedor principal */
.carouselContainer { 
    max-width: 1200px; 
    position: relative;
    margin: auto;
}

/* Ocultar las imágenes de forma predeterminada */
.mySlides {
    display: none;
} 

div.mySlides img {
    max-height: 490px; 
    /* La height que traia desde el principio, era demasiado alto. 
    Aqui las fotos del carousel tendran un máximo de altura,
    no se deforman las fotos*/
}

/* Botones anterior y siguiente */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Coloque el "botón siguiente" a la derecha */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Al pasar el cursor, agregue un color de fondo negro con un poco de transparencia */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Numero de imagen indica la posición (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Los puntos/viñetas/indicadores */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Animación de desvanecimiento */
.fade { /* Toma la segunda clase de los div que contienen las fotos */
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


/* MEDIA QUERY - 425 px */
@media(min-width: 425px) {

  .body-home .navContainer {
    height: 30px;
  }

  .body-home .navContainer ul li a {
    font-size: 18px;
  }

  .body-home img.gifContainer {
    height: 250px;
  }

  .body-home .titles {
    top: 140px; /*  */
  }

  .body-home .trailerContainer iframe {
    height: 300px; 
  }

  .body-home .reseñaContainer img.imgReseña {  
    width: 400px; 
    height: 400px; 
  }

}


/* MEDIA QUERY - 500px */
@media(min-width: 500px) {
  
  .body-home .navContainer ul li a {
    font-size: 20px;
  }

  .body-home img.gifContainer {
    height: 350px; 
  }

  .body-home .titles {
    top: 160px; /*  */
  }

  .body-home .titles .big {
    font-size: 40px;
  }

  .body-home .titles .small {
    font-size: 20px;
  }

  .body-home .trailerContainer {
    margin-bottom: 40px;
  }

  .body-home .trailerContainer iframe {
    height: 350px; 
  } 

}


/* MEDIA QUERY - 768px */
@media(min-width: 768px) {

  .body-home img.gifContainer {
    height: 400px; 
  } 

  .body-home .titles {
    top: 180px; /*  */
  }

  .body-home .sub-titles {
    font-size: 22px;
    margin-bottom: 20px; 
  }

  .body-home .trailerContainer {
    margin-bottom: 50px;
  }

  .body-home .trailerContainer iframe {
    width: 80%; 
    height: 480px; 
  } 

  .body-home .reseñaContainer { 
    padding: 40px 25px;
    margin-bottom: 50px;
  } 

} 


/* MEDIA QUERY - 1000px */
@media(min-width: 1000px) {

  /* Animaciones para el nav */
  @keyframes grow { /* grow-crecimiento */
    0% {}
    25% {}
    100% {}
}

  .body-home img.gifContainer {
    height: 500px; 
  }

  .body-home .titles {
    top: 200px; /*  */
  }

  .body-home .titles .big {
    font-size: 45px;
  }

  .body-home .trailerContainer {
    margin-bottom: 60px;
  }

  .body-home .reseñaContainer .reseñaParagraph .special-title {
    font-size: 22px;
    margin-bottom: 50px;
  }
  
 .body-home .reseñaContainer {
    display: flex;
    flex-direction: row;
    padding: 50px 50px;
    margin-bottom: 60px;
  }

  .body-home .reseñaContainer .reseñaParagraph {
    margin-bottom: 0;
    padding-right: 40px;
  } 
  
  .body-home .reseñaContainer img.imgReseña {
    width: 50%;
    height: 450px;
    width: 450px; 
    margin: auto;
    align-items: center;
  } 

}

/* Clases secundarias para solucionar problema de estilo del traductor */

/* htmls capturados */
/* .pages { 
    margin-top: -40px;
} */

/* .pagesBottom {
    margin-top: 0px;
}  */