<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
</head> 

<body>
    <h1>Ups!! Error 404</h1>
    <h2>Lo sentimos no hemos encontrado lo que buscas : /</h2>
    <h3><a href="/">Volver</a></h3>
</body>
</html>