<!DOCTYPE html>
<html lang="es" class="pages pagesBottom">
 
<head>
<%- include('./partials/head.ejs') %>

    <!-- Import font-awesome somewhere in the HTML -->
    
</head>
<body class="body-back">
  <%- include('./partials/header.ejs') %>
<nav class="navbar_main">
    <ul>
        <li><a href="/">Volver</a></li>
        <li><a href="#img-back">Imágenes</a></li>
        <li><a href="#equipo-back">Equipo</a></li>
    </ul>
</nav>
   
 <section class="containerReparto">
    <h5 class="containerReparto">
      Reparto principal
    </h5>
    <div class="reparto-container">
    <div class="lista-reparto">
     <ul class="lista"  style="list-style-type: none" >
      <li> Francisco Elizalde </li>
      
       <li>Miguel Angel Lopez </li>
       
       <li>Mauricio Balin </li>
       
       <li>Daniel Spataro </li>
       <li>Miguel Roque Rosatto </li>
       <li>Santiago Tettamanzi </li>
       <li>Roberto Salerno </li>
       <li>José Rebelo </li>
       <li>Luis Alfredo Jaramillo </li>
       <li>Alberto Philippi </li>
       <li>Ángel Panizza </li>
       <li>Ana Di Martino </li>
       <li>Robert Grubisa </li>
       <li>Jakob Slusan </li>
       <li>Claudio Iovanovich </li>
     </ul> 
    </div>
     <div class="rol-reparto">
      <ul class="rol" id="rol" style="list-style-type: none">
        <li>  Operador de Radio </li>
         <li> Marinero </li>
         <li> Maquinista Naval </li>
         <li> Marinero / Timonel</li>
         <li> Marinero </li>
         <li> Comisario Naval </li>
         <li> Marinero </li>
         <li> Electricista </li>
         <li> Marinero </li>
         <li> Piloto Aeronaval de Ataque</li>
         <li> Modelista Naval</li>
         <li> Esposa de Panizza </li>
         <li> Jefe de Ingenieros</li>
         <li> Jefe de Planificación</li>
         <li> Presidente Centro Yugoslavo Berisso </li>
       </ul>
      </div>
    </div>
    <div class="foto0">
        <img class="img-reparto0" src="img/testimonios/panizzaYesposa.png" alt="foto0">
        <p class="foto0" id="text">
         Se conocieron en el Rio Carcaraña, el buque fue el refugio de la tripulación en la guerra de Malvinas. 
         Panizza y Ana continúan recordando con cariño 
         al Carcaraña, el buque de trasporte de mercancias y de pasajeros, con detalles Itaianos que le daban un
         estilo lujoso.

        </p></div>
        <div class="foto1">
          <p class="foto1" id="text">
            Los aaaaaaaaaaaaaaaaaaaaaaaaaaaa
          </p>       
          <img class="img-reparto1" src="/photos/avion.jpeg" alt="foto1">
        </div>
        <div class="foto2">
        <img class="img-reparto2" src="img/carouselBack/submarino.jpg" alt="foto2">
        <p class="foto2" id="text">
         "Las secuelas te quedan siempre, aunque uno no quiera" dice uno de sus tripulantes en referencia 
         a las experiencias en la guerra de Malvinas.
        </p></div>
    </section>
    <!---->    
          <section class="carousel-back" id="img-back">
            <h5 class="carousel-back">Imágenes Detrás de escena</h5>
         <!-- Slideshow container -->
<div class="slideshow-container" >

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <div class="numbertext">1 / 10</div>
      <img class="carousel-back" src="img/carouselBack/detrasDe5.jpeg" alt="foto1">
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">2 / 10</div>
      <img class="carousel-back" src="img/carouselBack/detrasDe17.jpeg" alt="foto2">
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">3 / 10</div>
      <img class="carousel-back" src="img/carouselBack/muralMariscalTito.jpg" alt="foto3">
    </div>

    <div class="mySlides fade">
      <div class="numbertext">4 / 10</div>
      <img class="carousel-back" src="img/carouselBack/detrasDe14.jpeg" alt="foto4">
    </div>
     
    <div class="mySlides fade">
      <div class="numbertext">5 / 10</div>
      <img class="carousel-back" src="img/carouselBack/detrasDe12.jpeg" alt="foto5">
    </div>

    <div class="mySlides fade">
      <div class="numbertext">6 / 10</div>
      <img class="carousel-back" src="img/carouselBack/detrasDe18.jpeg" alt="foto6">
    </div>

    <div class="mySlides fade">
      <div class="numbertext">7 / 10</div>
      <img class="carousel-back" src="img/carouselBack/detrasDe22.jpeg" alt="foto7">
    </div>

    <div class="mySlides fade">
      <div class="numbertext">8 / 10</div>
      <img class="carousel-back" src="img/carouselBack/detrasDe.jpeg" alt="foto8">
    </div>

    <div class="mySlides fade">
      <div class="numbertext">9 / 10</div>
      <img class="carousel-back" src="img/carouselBack/paisajeFinCarousel.jpeg" alt="foto9">
    </div>

    <div class="mySlides fade">
      <div class="numbertext">10 / 10</div>
      <img class="carousel-back" src="img/carouselBack/laureano.jpeg" alt="foto10">
    </div>
  
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  
  <!-- The dots/circles -->
  <div class="carousel-back" style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
    <span class="dot" onclick="currentSlide(6)"></span>
    <span class="dot" onclick="currentSlide(7)"></span>
    <span class="dot" onclick="currentSlide(8)"></span>
    <span class="dot" onclick="currentSlide(9)"></span>
    <span class="dot" onclick="currentSlide(10)"></span>
  </div>

    </section>
    <section class="equipo-reparto" id="equipo-back">
      <h5 class="equipo-reparto">Equipo</h5>
    
           <ul  class="equipo-reparto" style="list-style-type: none">
            <li>CAMARAS: </li>
            <li><a href="https://instagram.com/maurosfilms?igshid=YmMyMTA2M2Y=" >Mauro Licul </a></li>
            <li><a href="https://instagram.com/martinturnes?igshid=YmMyMTA2M2Y=">Martin Turnes </a></li>
            <li><a href="https://instagram.com/rosnernet?igshid=YmMyMTA2M2Y="> Diego Dachdje </a></li>
            <li><a href="https://instagram.com/ceturtu?igshid=YmMyMTA2M2Y=">Cesar Turturro </a></li>
            <li><a href="https://instagram.com/gabrielbendersky?igshid=YmMyMTA2M2Y=">Gabriel Bendersky </a></li>
            <li><a href="https://instagram.com/ezequiellaborevich?igshid=YmMyMTA2M2Y=">Ezequiel Laborevich </a></li>
            <li><a href="https://instagram.com/meccapablo?igshid=YmMyMTA2M2Y=">Pablo Mecca </a></li>
            <li><a href="https://instagram.com/nicomora82?igshid=YmMyMTA2M2Y=">Nicolas Morales </a></li>
            <li><a href="">Jorge Mendez </a></li>
            <li>SONIDO DIRECTO: </li>
            <li><a href="https://www.facebook.com/marin.ribaric.3">Marin  Ribaric </a></li>
            <li><a href="https://instagram.com/martinvaisman?igshid=YmMyMTA2M2Y=">Martin Vaisman </a></li>
            <li><a href="https://instagram.com/aguiladetrueno?igshid=YmMyMTA2M2Y=">Lázaro de Giovanni </a></li>
            <li>MUSICA: </li>
            <li><a href="https://instagram.com/sebscal?igshid=YmMyMTA2M2Y=">Sebastian Scapelli </a></li>
            <li><a href="https://instagram.com/matiasjolmedo?igshid=YmMyMTA2M2Y=">Matias Olmedo </a></li>
            <li><a href="https://instagram.com/amtischbalkan?igshid=YmMyMTA2M2Y=">Am Tisch </a></li>
            <li>ASISTENTES DE CÁMARAS: </li>
            <li><a href="">Juan Manuel Nuñez </a></li>
            <li><a href="">Danilo Galgano </a></li>
          </ul>
          </p>
      </section>
    
    <script src="../js/carouselBack.js"></script>
    
    <footer>   
      <%- include('./partials/footer.ejs') %>
</footer>

</body>
</html>