<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <ul class="topnav">
        <li>
        <a href="#sinopsis">Sinopsis</a>
       </li>
       <li>
        <a href="#galeria">Galería</a>
       </li>
       <li>
        <a href="/back.ejs">Detrás de la escena</a>
       </li>
      
    </ul>  
    
    <button type="submit">Volver</button>
   
    <h1>Detrás de escena</h1>
    
    <%- include('./partials/footer') %>

</body>
</html>