<!DOCTYPE html>
<html lang="es" class="pages pagesBottom">
 
<head>
<%- include('./partials/head.ejs') %>

    <!-- Import font-awesome somewhere in the HTML -->
    
</head>
<body class="body-back">

  <div id="chat-robbu" class="cr-float cr-active"><link rel="stylesheet" href="https://webchatapi.robbu.global/v2/chat.css">
    <link rel="stylesheet" href="https://webchatapi.robbu.global/v2/themes/dark.css">
      <a class="flecha-arriba" id="flecha" href="/back">
      <i class="fas fa-angle-double-up" ::before></i>
    </a></div>
  <%- include('./partials/header.ejs') %>
<nav class="navbar_main">
    <ul>
        <li><a href="/">Volver</a></li>
        <li><a href="#img-back">Imágenes</a></li>
        <li><a href="#equipo-back">Equipo</a></li>
    </ul>
</nav>
   
 <section class="containerReparto">
    <h5 class="containerReparto">
      Reparto principal
    </h5>
    <div class="reparto-container">
    <div class="lista-reparto">
     <ul class="lista"  style="list-style-type: none" >
      <li> Francisco Elizalde </li>
      
       <li>Miguel Angel Lopez </li>
       
       <li>Mauricio Balin </li>
       
       <li>Daniel Spataro </li>
       <li>Miguel Roque Rosatto </li>
       <li>Santiago Tettamanzi </li>
       <li>Roberto Salerno </li>
       <li>José Rebelo </li>
       <li>Luis Alfredo Jaramillo </li>
       <li>Alberto Philippi </li>
       <li id="espacio">Ángel Panizza </li>
       <li>Ana Di Martino </li>
       <li id="espacio">Robert Grubisa </li>
       <li id="espacio">Jakob Slusan </li>
       <li id="espacio">Claudio Iovanovich </li>
     </ul> 
    </div>
     <div class="rol-reparto">
      <ul class="rol" id="rol" style="list-style-type: none">
        <li>  Operador de Radio </li>
         <li> Marinero </li>
         <li> Maquinista Naval </li>
         <li> Marinero / Timonel</li>
         <li> Marinero </li>
         <li> Comisario Naval </li>
         <li> Marinero </li>
         <li> Electricista </li>
         <li> Marinero </li>
         <li> Piloto Aeronaval de Ataque</li>
         <li> Modelista Naval</li>
         <li> Esposa de Panizza </li>
         <li> Jefe de Ingenieros</li>
         <li id="espacio"> Jefe de Planificación</li>
         <li id="espacio"> Presidente Centro Yugoslavo Berisso </li>
       </ul>
      </div>
    </div>
    <div class="foto0">
        <img class="img-reparto0" src="img/testimonios/panizzaYesposa.png" alt="foto0">
        <p class="foto0" id="text">
         Se conocieron en el Rio Carcaraña, el buque fue el refugio de la tripulación en la guerra de Malvinas. 
         Panizza y Ana continúan recordando con cariño 
         al Carcaraña, el buque de trasporte de mercancias y de pasajeros, con detalles Itaianos que le daban un
         estilo lujoso.

        </p></div>
        <div class="foto1">
          <p class="foto1" id="text">
            Los aviones de ataque Argentinos
          </p>       
          <img class="img-reparto1" src="/photos/avion.jpeg" alt="foto1">
        </div>
        <div class="foto2">
        <img class="img-reparto2" src="img/submarino.jpg" alt="foto2">
        <p class="foto2" id="text">
         "Las secuelas te quedan siempre, aunque uno no quiera" dice uno de sus tripulantes en referencia 
         a las experiencias en la guerra de Malvinas.
        </p></div>
    </section>
    <!---->    

    <section class="carousel-back" id="img-back">

      <h5 class="carousel-back">Imágenes detrás de escena</h5>
      <br>
      <!-- Slideshow container -->
      <div class="carouselContainer">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
            <div class="numbertext">1 / 10</div>
            <img src="img/carouselBack/photo1.png" style="width:100%" alt="Cámaras">
        </div>
  
        <div class="mySlides fade">
            <div class="numbertext">2 / 10</div>
            <img src="img/carouselBack/photo2.png" style="width:100%" alt="Asistentes de cámaras">
        </div>
  
        <div class="mySlides fade">
            <div class="numbertext">3 / 10</div>
            <img src="img/carouselBack/photo3.png" style="width:100%" alt="Mural">
        </div>

        <div class="mySlides fade">
            <div class="numbertext">4 / 10</div>
            <img src="img/carouselBack/photo4.png" style="width:100%" alt="Reparto detrás de escena">
        </div>
     
        <div class="mySlides fade">
            <div class="numbertext">5 / 10</div>
            <img src="img/carouselBack/photo5.png" style="width:100%" alt="Detrás de escena">
        </div>

        <div class="mySlides fade">
            <div class="numbertext">6 / 10</div>
            <img src="img/carouselBack/photo6.png" style="width:100%" alt="Entrevista">
        </div>

        <div class="mySlides fade">
            <div class="numbertext">7 / 10</div>
            <img src="img/carouselBack/photo7.png" style="width:100%" alt="Video">
        </div>

        <div class="mySlides fade">
            <div class="numbertext">8 / 10</div>
            <img src="img/carouselBack/photo8.png" style="width:100%" alt="Preparando equipo">
        </div>

        <div class="mySlides fade">
            <div class="numbertext">9 / 10</div>
            <img src="img/carouselBack/photo9.png" style="width:100%" alt="Vista de la cordillera">
        </div>

        <div class="mySlides fade">
            <div class="numbertext">10 / 10</div>
            <img src="img/carouselBack/photo10.png" style="width:100%" alt="Laureano Bechi">
        </div>
  
        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

      </div>
      <br>
  
      <!-- The dots/circles -->
      <div style="text-align:center; margin-bottom: 40px;">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
          <span class="dot" onclick="currentSlide(4)"></span>
          <span class="dot" onclick="currentSlide(5)"></span>
          <span class="dot" onclick="currentSlide(6)"></span>
          <span class="dot" onclick="currentSlide(7)"></span>
          <span class="dot" onclick="currentSlide(8)"></span>
          <span class="dot" onclick="currentSlide(9)"></span>
          <span class="dot" onclick="currentSlide(10)"></span>
      </div>

    </section>
    <br>


    <section class="equipo-reparto" id="equipo-back">
      <h5 class="equipo-reparto">Equipo</h5>
    
           <ul  class="equipo-reparto" style="list-style-type: none">
            <li>CAMARAS: </li>
            <li><a href="https://instagram.com/maurosfilms?igshid=YmMyMTA2M2Y=" >Mauro Licul </a></li>
            <li><a href="https://instagram.com/martinturnes?igshid=YmMyMTA2M2Y=">Martin Turnes </a></li>
            <li><a href="https://instagram.com/rosnernet?igshid=YmMyMTA2M2Y="> Diego Dachdje </a></li>
            <li><a href="https://instagram.com/ceturtu?igshid=YmMyMTA2M2Y=">Cesar Turturro </a></li>
            <li><a href="https://instagram.com/gabrielbendersky?igshid=YmMyMTA2M2Y=">Gabriel Bendersky </a></li>
            <li><a href="https://instagram.com/ezequiellaborevich?igshid=YmMyMTA2M2Y=">Ezequiel Laborevich </a></li>
            <li><a href="https://instagram.com/meccapablo?igshid=YmMyMTA2M2Y=">Pablo Mecca </a></li>
            <li><a href="https://instagram.com/nicomora82?igshid=YmMyMTA2M2Y=">Nicolas Morales </a></li>
            <li><a href="">Jorge Mendez </a></li>
            <li>SONIDO DIRECTO: </li>
            <li><a href="https://www.facebook.com/marin.ribaric.3">Marin  Ribaric </a></li>
            <li><a href="https://instagram.com/martinvaisman?igshid=YmMyMTA2M2Y=">Martin Vaisman </a></li>
            <li><a href="https://instagram.com/aguiladetrueno?igshid=YmMyMTA2M2Y=">Lázaro de Giovanni </a></li>
            <li>MUSICA: </li>
            <li><a href="https://instagram.com/sebscal?igshid=YmMyMTA2M2Y=">Sebastian Scapelli </a></li>
            <li><a href="https://instagram.com/matiasjolmedo?igshid=YmMyMTA2M2Y=">Matias Olmedo </a></li>
            <li><a href="https://instagram.com/amtischbalkan?igshid=YmMyMTA2M2Y=">Am Tisch </a></li>
            <li>ASISTENTES DE CÁMARAS: </li>
            <li><a href="">Juan Manuel Nuñez </a></li>
            <li><a href="">Danilo Galgano </a></li>
          </ul>
          </p>
      </section>
    
    <script src="../js/carouselBack.js"></script>
    
    <footer>   
      <%- include('./partials/footer.ejs') %>
</footer>

</body>
</html>