<!doctype html>
<html lang="es">

<%- include('./partials/head') %>

  <body class="body-home">

    <!-- Navegation and header -->
      <nav class="navContainer">
        <ul>
          <li>
              <a href="#trailer">Trailer</a> 
          </li>
          <li>
              <a href="#reseña">Reseña</a>
          </li>
          <li>
              <a href="#imagenes">Imágenes</a>
          </li>
          <li>
              <a href="/back">Detrás de escena</a>
          </li>
        </ul>
      </nav>
    
      <!-- Gif and titles -->
      <img class="gifContainer" src="/img/shipGif.gif" alt="Ship">

      <div class="titles">
        <p>
          E.L.M.A. <br>
          Río Carcarañá <br>
          de Rijeka a Malvinas <br>
        </p>
      </div> 

      <!-- Trailer -->
      <div class="trailerContainer">
        <h2 class="sub-titles" id="trailer">Trailer</h2> 
 
        <iframe 
          src="https://www.youtube.com/embed/CaHGakIVIrk" 
          title="YouTube video player" 
          frameborder="0"     
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"   
          allowfullscreen>
        </iframe> 

      </div>  

      <!-- Reseña/sinopsis del documental -->
      <article class="reseñaContainer">
        
        <p class="reseñaParagraph">
          <span class="special-title" id="reseña">Reseña</span>
          <br>
          El Río Carcarañá era un buque mercante construido en Rijeka en 1962,
          durante la antigua Yugoslavia, actualmente Croacia, por encargo de Empresas
          Lineas Marítimas Argentinas (E.L.M.A.). En 1982 participaria en la Guerra de Malvinas.
          Conoce su último viaje y la conmovedora historia de los trabajadores y sus tripulantes. 
        </p>
        <img class="imgReseña" src="/img/rijeka.png" alt="Rijeka">

      </article>

    <!-- carousel - Presentación de diapositivas para recorrer los elementos-->
    <h2 class="sub-titles" id="imagenes">Imágenes del documental</h2>
    <div class="carouselContainer">

      <!-- Imágenes con el ancho completo más el número -->
      <div class="mySlides fade">
        <div class="numbertext">1 / 10</div>
        <img src="/img/carouselHome/construccion.png" style="width:100%" alt="Barco en construcción">  
      </div>

      <div class="mySlides fade">
        <div class="numbertext">2 / 10</div>
        <img src="/img/carouselHome/blanco-negro.png" style="width:100%" alt="Tripulantes">     
      </div>

      <div class="mySlides fade">
        <div class="numbertext">3 / 10</div>
        <img src="/img/carouselHome/rio-carcaraña.png" style="width:100%" alt="Carcarañá">
      </div>

      <div class="mySlides fade">
        <div class="numbertext">4 / 10</div>
        <img src="/img/carouselHome/avion.png" style="width:100%" alt="Avion de guerra">
      </div>

      <div class="mySlides fade">
        <div class="numbertext">5 / 10</div>
        <img src="/img/carouselHome/guerra.png" style="width:100%" alt="Ataques de guerra">
      </div>

      <div class="mySlides fade">
        <div class="numbertext">6 / 10</div>
        <img src="/img/carouselHome/ejercito.png" style="width:100%" alt="Militares">
      </div>

      <div class="mySlides fade">
        <div class="numbertext">7 / 10</div>
        <img src="/img/carouselHome/restos-carcaraña.png" style="width:100%" alt="Restos del barco">
      </div>

      <div class="mySlides fade">
        <div class="numbertext">8 / 10</div>
        <img src="/img/carouselHome/restos.png" style="width:100%" alt="Tripulante">
      </div>

      <div class="mySlides fade">
        <div class="numbertext">9 / 10</div>
        <img src="/img/carouselHome/inmigrantes.png" style="width:100%" alt="Inmigrantes">
      </div>

      <div class="mySlides fade">
        <div class="numbertext">10 / 10</div>
        <img src="/img/carouselHome/final.png" style="width:100%" alt="Bandera de Argentina">
      </div>

      <!-- Botones anterior y siguiente -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

      <!-- Puntitos -->
    <div style="text-align:center; margin-bottom: 35px;" >
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
      <span class="dot" onclick="currentSlide(4)"></span>
      <span class="dot" onclick="currentSlide(5)"></span>
      <span class="dot" onclick="currentSlide(6)"></span>
      <span class="dot" onclick="currentSlide(7)"></span>
      <span class="dot" onclick="currentSlide(8)"></span>
      <span class="dot" onclick="currentSlide(9)"></span>
      <span class="dot" onclick="currentSlide(10)"></span>
    </div>

    <!-- end carousel -->

    <!-- <%- include('./partials/footer') %> -->
    <script src="/js/homeCarousel.js" defer></script> 
    
  </body>

</html>