<!doctype html>
<html lang="es" class="pages pagesBottom">

<%- include('./partials/head') %>

  <body class="body-home bodys">

    <div id="chat-robbu" class="cr-float cr-active"><link rel="stylesheet" href="https://webchatapi.robbu.global/v2/chat.css">
      <link rel="stylesheet" href="https://webchatapi.robbu.global/v2/themes/dark.css">
        <a class="flecha-arriba" id="flecha" href="/">
        <i class="fas fa-angle-double-up" ::before></i>
      </a></div> 
    <%- include('./partials/header') %> 

    <!-- Navegation and header -->
      <nav class="navContainer">
        <ul>
          <li>
              <a href="#trailer">Trailer</a> 
          </li>
          <li>
              <a href="#reseña">Reseña</a>
          </li>
          <li>
              <a href="#imagenes">Imágenes</a>
          </li>
          <li>
              <a href="/back">Detrás de escena</a>
          </li>
        </ul>
      </nav>
    
      <!-- Gif and titles -->
      <img class="gifContainer" src="/img/shipGif.gif" alt="Ship">

      <div class="titles">    

        <h1 class="blue big">E.L.M.A.</h1>
        <h1 class="white big">Río Carcarañá</h1>
        <h2 class="blue small">de Rijeka a Malvinas</h2>

      </div>  

      <!-- Trailer -->
      <div class="trailerContainer">

        <h2 class="sub-titles" id="trailer">Trailer</h2> 
 
        <iframe 
          src="https://www.youtube.com/embed/CaHGakIVIrk" 
          title="YouTube video player" 
          frameborder="0"     
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"   
          allowfullscreen>
        </iframe> 

      </div>  

      <!-- Reseña/sinopsis del documental -->
      <article class="reseñaContainer">
        
        <p class="reseñaParagraph">
          <span class="special-title" id="reseña">Reseña</span>
          <br>
          El Río Carcarañá era un buque mercante construido en la ciudad de Rijeka en 1962,
          durante la antigua Yugoslavia, actualmente Croacia, por encargo de Empresas
          Lineas Marítimas Argentinas (E.L.M.A.). En 1982 participaria en la Guerra de Malvinas.
          El nombre de la población proviene de los vocablos guaraníes "cara cara añá", cuya traducción al español es "carancho diablo". 
          El carancho es un ave de rapiña.
          Conoce su último viaje y la conmovedora historia de los trabajadores y sus tripulantes.
          <br>
          <span class="special-title" id="reseña">Colaboraciones</span>
          <br>
          "ELMA Río Carcarañá, de Rijeka a Malvinas" es el primer documental rodado en Croacia y Argentina, 
          con apoyo del Instituto Nacional de Cine (INCAA), Fondo Nacional de las Artes, Centro de Capitanes de Ultramar, 
          Centro de Maquinistas Navales, Centro de Comisarios Navales, Centro de Radio operadores Navales y Sindicato de Electricistas Navales,
          y el Centro de veteranos civiles de Malvinas. Esta producción cuenta con la colaboración de canales de televisión croatas y productoras
          como Kanal Ri, Mauro's Film Poetry, Saluto Team y Blue Photography que se sumaron al trabajo iniciado por 22 Films y 3alcubo de Argentina.
          También colaboraron las colectividades croatas y yugoslavas de La Plata, Berisso y Ensenada, provincia de Buenos Aires, 
          como asi también la ayuda y colaboración de las embajadas de la República de Croacia y embajadas de la República de Serbia
          que facilitó los contactos para filmar en Rijeka y elaborar la animación en 3D y material bibliográfico y traducciones al
          Serbocroata de los trailers.
          Filmado en Argentina, Bariloche, Bahía Blanca, Ensenada, Berisso, Ciudad autónoma de Buenos Aires, en el Río de la Plata y en Croacia en Rijeka,
          nuestro producto cuenta además con animaciones 2D, animaciones 3D, material de archivo inédito, tanto croata como argentino y banda sonora
          también argentino-croata y rodado en digital en alta definición (4K).
        </p>
        <img class="imgReseña" src="/img/carancho.png" alt="Rijeka">

      </article>

    <!-- carousel - Presentación de diapositivas para recorrer los elementos-->
    <h2 class="sub-titles" id="imagenes">Imágenes del documental</h2>

    <div class="carouselContainer">

      <!-- Imágenes con el ancho completo más el número -->
      <div class="mySlides fade">
        <div class="numbertext">1 / 10</div>
        <img src="/img/carouselHome/photo1.png" style="width:100%" alt="Barco en construcción">  
      </div>

      <div class="mySlides fade">
        <div class="numbertext">2 / 10</div>
        <img src="/img/carouselHome/photo2.png" style="width:100%" alt="Tripulantes">     
      </div>

      <div class="mySlides fade">
        <div class="numbertext">3 / 10</div>
        <img src="/img/carouselHome/photo3.png" style="width:100%" alt="Carcarañá">
      </div>

      <div class="mySlides fade">
        <div class="numbertext">4 / 10</div>
        <img src="/img/carouselHome/photo4.png" style="width:100%" alt="Avion de guerra">
      </div>

      <div class="mySlides fade">
        <div class="numbertext">5 / 10</div>
        <img src="/img/carouselHome/photo5.png" style="width:100%" alt="Ataques de guerra">
      </div>

      <div class="mySlides fade">
        <div class="numbertext">6 / 10</div>
        <img src="/img/carouselHome/photo6.png" style="width:100%" alt="Militares">
      </div>

      <div class="mySlides fade">
        <div class="numbertext">7 / 10</div>
        <img src="/img/carouselHome/photo7.png" style="width:100%" alt="Restos del barco">
      </div>

      <div class="mySlides fade">
        <div class="numbertext">8 / 10</div>
        <img src="/img/carouselHome/photo8.png" style="width:100%" alt="Tripulante">
      </div>

      <div class="mySlides fade">
        <div class="numbertext">9 / 10</div>
        <img src="/img/carouselHome/photo9.png" style="width:100%" alt="Inmigrantes">
      </div>

      <div class="mySlides fade">
        <div class="numbertext">10 / 10</div>
        <img src="/img/carouselHome/photo10.png" style="width:100%" alt="Bandera de Argentina">
      </div>

      <!-- Botones anterior y siguiente -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
      
    </div>
    <br>

      <!-- Puntitos -->
    <div style="text-align:center; margin-bottom: 40px;" >
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
      <span class="dot" onclick="currentSlide(4)"></span>
      <span class="dot" onclick="currentSlide(5)"></span>
      <span class="dot" onclick="currentSlide(6)"></span>
      <span class="dot" onclick="currentSlide(7)"></span>
      <span class="dot" onclick="currentSlide(8)"></span>
      <span class="dot" onclick="currentSlide(9)"></span>
      <span class="dot" onclick="currentSlide(10)"></span>
    </div>

    <!-- end carousel -->

    <%- include('./partials/footer') %>

    <script src="/js/homeCarousel.js" defer></script> 
    
  </body>

</html>