<!doctype html>
<html lang="es">

<%- include('./partials/head') %>

  <body>

    <%- include('./partials/header') %>

    <main class="mainHome">

      <div class="gifContainer">
        <img src="/img/shipGif.gif" alt="Ship" width="100%">
      </div>

      <div class="titles">

        <p>
          Documental <br>
          E.L.M.A. <br>
          Río Carcarañá <br>
          de Rijeka a Malvinas <br>
        </p>

      </div>

      <!-- <h2>Trailer</h2> -->

      <div class="trailerContainer">

      </div>

      <article class="reseñaContainer">

      </article>

      <div class="carouselContainer">

      </div>

    </main>

    <!-- <%- include('./partials/footer') %> -->

  </body>

</html>