<!doctype html>
<html lang="es">

<%- include('./partials/head') %>

  <body>

  

   <!--  <ul class="topnav">
      <li>
      <a href="#sinopsis">Sinopsis</a>
     </li>
     <li>
      <a href="#galeria">Galería</a>
     </li>
     <li>
      <a href="/back">Detrás de la escena</a>
     </li>
     <ddiv class="img">
     <li>
      <a href="#"><img src="../../../img/Instagram-Logo.wine.png" alt="Seguínos en instagram-Logo"></a>
     </li>
     <li>
      <a href="#"><img src="../../../img/logos/face-logo.jpg " alt="Seguínos en facebook"></a>
     </li>
  </div>
  </ul>   -->

  <!-- end header, nav -->

    <main class="mainHome">
      
      <img class="gifContainer" src="/img/shipGif.gif" alt="Ship" width="100%">

      <div class="titles">
        <p>
          Documental <br>
          E.L.M.A. <br>
          Río Carcarañá <br>
          de Rijeka a Malvinas <br>
        </p>
      </div>
      <!-- end gifContainer  -->

      <div class="trailerContainer">

        <h2>Trailer</h2> 
 
        <iframe 
          width="90%"
          height="315" 
          src="https://www.youtube.com/embed/CaHGakIVIrk" 
          title="YouTube video player" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
          allowfullscreen
          marginHeight="30">
        </iframe>
      
      </div>

      <article class="reseñaContainer">

      </article>

    <!-- carousel - Presentación de diapositivas para recorrer los elementos-->

    <div class="carouselContainer">

      <!-- Imágenes con el ancho completo más el número -->
      <div class="mySlides fade">
        <div class="numbertext">1 / 10</div>
        <img src="img1.jpg" style="width:100%">
        <div class="text">Caption Text</div>    <!-- titulo sobre la imagen -->
      </div>

      <div class="mySlides fade">
        <div class="numbertext">2 / 10</div>
        <img src="img2.jpg" style="width:100%">
        <div class="text">Caption Two</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">3 / 10</div>
        <img src="img3.jpg" style="width:100%">
        <div class="text">Caption Three</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">4 / 10</div>
        <img src="img1.jpg" style="width:100%">
        <div class="text">Caption Text</div> 
      </div>

      <div class="mySlides fade">
        <div class="numbertext">5 / 10</div>
        <img src="img2.jpg" style="width:100%">
        <div class="text">Caption Two</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">6 / 10</div>
        <img src="img3.jpg" style="width:100%">
        <div class="text">Caption Three</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">7 / 10</div>
        <img src="img1.jpg" style="width:100%">
        <div class="text">Caption Text</div> 
      </div>

      <div class="mySlides fade">
        <div class="numbertext">8 / 10</div>
        <img src="img2.jpg" style="width:100%">
        <div class="text">Caption Two</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">9 / 10</div>
        <img src="img3.jpg" style="width:100%">
        <div class="text">Caption Three</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">10 / 10</div>
        <img src="img3.jpg" style="width:100%">
        <div class="text">Caption Three</div>
      </div>

      <!-- Botones anterior y siguiente -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

      <!-- Puntitos -->
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
      <span class="dot" onclick="currentSlide(4)"></span>
      <span class="dot" onclick="currentSlide(5)"></span>
      <span class="dot" onclick="currentSlide(6)"></span>
      <span class="dot" onclick="currentSlide(7)"></span>
      <span class="dot" onclick="currentSlide(8)"></span>
      <span class="dot" onclick="currentSlide(9)"></span>
      <span class="dot" onclick="currentSlide(10)"></span>
    </div>

    <!-- end carousel -->

    </main>

    <!-- <%- include('./partials/footer') %> -->

  </body>

</html>