<!doctype html>
<html lang="es">

<%- include('./partials/head') %>

  <body class="body-home">

   <!--  <ul class="topnav">
      <li>
      <a href="#sinopsis">Sinopsis</a>
     </li>
     <li>
      <a href="#galeria">Galería</a>
     </li>
     <li>
      <a href="/back">Detrás de la escena</a>
     </li>
     <ddiv class="img">
     <li>
      <a href="#"><img src="../../../img/Instagram-Logo.wine.png" alt="Seguínos en instagram-Logo"></a>
     </li>
     <li>
      <a href="#"><img src="../../../img/logos/face-logo.jpg " alt="Seguínos en facebook"></a>
     </li>
  </div>
  </ul>   -->

    
      <!-- Gif y títulos -->
      <img class="gifContainer" src="/img/shipGif.gif" alt="Ship" width="100%">

      <div class="titles">
        <p>
          Documental <br>
          E.L.M.A. <br>
          Río Carcarañá <br>
          de Rijeka a Malvinas <br>
        </p>
      </div> 

      <!-- Trailer -->
      <div class="trailerContainer">

        <h2>Trailer</h2> 
 
        <iframe 
          width="90%"
          height="315" 
          src="https://www.youtube.com/embed/CaHGakIVIrk" 
          title="YouTube video player" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
          allowfullscreen
          marginHeight="30">
        </iframe>
      
      </div>  

      <!-- Reseña/sinopsis del documental -->
      <article class="reseñaContainer">
        <h2>Reseña</h2>
        <p>
          El Río Carcarañá era un buque mercante construido en Rijeka en 1962,
          durante la antigua Yugoslavia, actualmente Croacia, por encargo de Empresas
          Lineas Marítimas Argentinas (E.L.M.A.). En 1982 participaria en la Guerra de Malvinas.

        </p>
      </article>

    <!-- carousel - Presentación de diapositivas para recorrer los elementos-->
    <div class="carouselContainer">

      <!-- Imágenes con el ancho completo más el número -->
      <div class="mySlides fade">
        <div class="numbertext">1 / 10</div>
        <img src="/img/carouselHome/construccion.png" style="width:100%">
        <!-- <div class="text">Caption Text</div>   -->  
      </div>

      <div class="mySlides fade">
        <div class="numbertext">2 / 10</div>
        <img src="/img/carouselHome/blanco-negro.png" style="width:100%">
        <!-- <div class="text">Caption Two</div> -->
      </div>

      <div class="mySlides fade">
        <div class="numbertext">3 / 10</div>
        <img src="/img/carouselHome/rio-carcaraña.png" style="width:100%">
        <!-- <div class="text">Caption Three</div> -->
      </div>

      <div class="mySlides fade">
        <div class="numbertext">4 / 10</div>
        <img src="/img/carouselHome/avion.png" style="width:100%">
        <!-- <div class="text">Caption Text</div> --> 
      </div>

      <div class="mySlides fade">
        <div class="numbertext">5 / 10</div>
        <img src="/img/carouselHome/guerra.png" style="width:100%">
        <!-- <div class="text">Caption Two</div> -->
      </div>

      <div class="mySlides fade">
        <div class="numbertext">6 / 10</div>
        <img src="/img/carouselHome/ejercito.png" style="width:100%">
        <!-- <div class="text">Caption Three</div> -->
      </div>

      <div class="mySlides fade">
        <div class="numbertext">7 / 10</div>
        <img src="/img/carouselHome/restos-carcaraña.png" style="width:100%">
        <!-- <div class="text">Caption Text</div> --> 
      </div>

      <div class="mySlides fade">
        <div class="numbertext">8 / 10</div>
        <img src="/img/carouselHome/restos.png" style="width:100%">
        <!-- <div class="text">Caption Two</div> -->
      </div>

      <div class="mySlides fade">
        <div class="numbertext">9 / 10</div>
        <img src="/img/carouselHome/inmigrantes.png" style="width:100%">
        <!-- <div class="text">Caption Three</div> -->
      </div>

      <div class="mySlides fade">
        <div class="numbertext">10 / 10</div>
        <img src="/img/carouselHome/final.png" style="width:100%">
        <!-- <div class="text">Caption Three</div> -->
      </div>

      <!-- Botones anterior y siguiente -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

      <!-- Puntitos -->
    <div style="text-align:center; margin-bottom: 20px;" >
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
      <span class="dot" onclick="currentSlide(4)"></span>
      <span class="dot" onclick="currentSlide(5)"></span>
      <span class="dot" onclick="currentSlide(6)"></span>
      <span class="dot" onclick="currentSlide(7)"></span>
      <span class="dot" onclick="currentSlide(8)"></span>
      <span class="dot" onclick="currentSlide(9)"></span>
      <span class="dot" onclick="currentSlide(10)"></span>
    </div>

    <!-- end carousel -->

    <!-- <%- include('./partials/footer') %> -->
    <script src="/js/homeCarousel.js" defer></script> 

  </body>

</html>