<footer>
    <ul class=" style="text-align:center; padding-top:40px;pagination pagination-lg">
      <li class="page-item"><a class="page-link"href="#">&laquo;</a></li>
      <li class="page-item"><a class="page-link" href="#">Enlace</a></li>
      <li class="page-item"><a class="page-link" href="">Enlace</a></li>
      <li class="page-item"><a class="page-link"  href=""><img src="/img/Instagram-Logo.wine.png"></a></li>
      <li class="page-item"><a class="page-link" href="#">Facebook</a></li>
    </ul>
    <p>Developed by <a href="">Pretty-Code</a></p>
</footer>