<footer>

    <h2 class="special-title">Contáctanos</h2>

    <hr class="line-footer"> 

    <a href=""><i class="fab fa-instagram"></i></a>
    <a href=""><i class="fab fa-facebook"></i></a>

    <hr class="line-footer"> 

    <img class="img-footer" src="" alt="Inca">
    <img class="img-footer" src="" alt="Fondo Nacional de las Artes">
    <img class="img-footer" src="" alt="22 Films">

</footer>