<footer>

    <h2 class="title-footer">Contáctanos</h2>

    <hr class="line-footer"> 

    <a href=""><i class="fab fa-instagram"></i></a>
    <a href=""><i class="fab fa-facebook"></i></a>

    <hr class="line-footer"> 

    <img class="img-footer" src="/img/logos/inca-remove.png" alt="Inca">
    <img class="img-footer" src="/img/logos/fondoNacional-remove.png" alt="Fondo Nacional de las Artes">
    <img class="img-footer" src="/img/logos/22-films-remove.png" alt="22 Films">

</footer>