<footer>

    <h2 class="title-footer">Contáctanos</h2>

    <hr class="line-footer"> 

    <div class="icons-footer">
        <a target="_blank" href="https://www.instagram.com/elma_riocarcarana/"><i class="fab fa-instagram"></i></a>
        <a target="_blank" href="https://www.facebook.com/RioCarcarana"><i class="fab fa-facebook"></i></a>
        <a target="_blank" href=""><i class="far fa-envelope"></i></a>
    </div>

    <hr class="line-footer"> 

    <div class="logos-footer">
        <img class="img-footer" src="/img/logos/inca-remove.png" alt="I.N.C.A.">
        <img class="img-footer" src="/img/logos/fondoNacional-remove.png" alt="Fondo Nacional de las Artes">
        <img class="img-footer" src="/img/logos/22-films-remove.png" alt="22 Films">
        <img class="img-footer square" src="/img/logos/capitanesUltramar-remove.png" alt="Centro de capitanes de ultramar y oficiales de la marina mercante">
        <img class="img-footer square" src="/img/logos/civilesVeteranos-remove.png" alt="Centro de civiles veteranos de guerra OP Malvinas">
        <img class="img-footer square" src="/img/logos/S.E.E.N.-remove.png" alt="S.E.E.N.">
        <img class="img-footer square" src="/img/logos/maquinistasNavales-remove.png" alt="Centro de jefes y oficiales Maquinistas navales">
        <img class="img-footer height" src="/img/logos/RKanal-remove.jpg" alt="RKanal">
        <img class="img-footer height" src="/img/logos/3alCubo-remove.png" alt="Tres al cubo">
        <img class="img-footer height" src="/img/logos/radiocomunicaciones-remove.png" alt="Centro de jefes y oficiales navales de radiocomunicaciones">
    </div>

    <h5>Developed by <a target="_blank" href="">prettycode</a></h5>

</footer>