<header class="col" >
<ul class="topnav">
    <li>
        <h2>Río Carcarañá</h2>
   </li>
    <li>
        <a href="/"><img src="../../img/barco.png" alt="TRIMOVI"></a>
    </li>
    <li>
    <label for="language"> 
        <select>
        <option>Elegir idioma</option>
        <option>Español</option>
        <option>English</option>
        </select> 
    </label>
   </li>    
</ul>
<ul class="topnav">
    <li>
    <a href="#sinopsis">Sinopsis</a>
   </li>
   <li>
    <a href="#galeria">Galería</a>
   </li>
   <li>
    <a href="/back.ejs">Detrás de la escena</a>
   </li>
   <li>
    <a href="#"><img src="../../../img/Instagram-Logo.wine.png" alt="Seguínos en instagram-Logo"></a>
   </li>
   <li>
    <a href="#"><img src="../../../img/logos/face-logo.jpg " alt="Seguínos en facebook"></a>
   </li>

</ul>  
</header>

