<header class="main-header">

    <img class="background-header" src="/img/img-header.png" alt="Puerto">   
    
    <div class="box-container">

        <div class="container-logo">

            <a href="/"><p class="text-logo">Río<br>Carcarañá</p></a>

        </div>
    
        <div class="container-contacts">

            <a class="a-header" target="_blank" href="https://www.instagram.com/elma_riocarcarana/"><i class="icon-header fab fa-instagram"></i></a>     
            <a class="a-header" target="_blank" href="mailto:riocarca26@gmail.com"><i class="icon-header far fa-envelope"></i></a>
            <a class="a-header" target="_blank" href="https://www.facebook.com/RioCarcarana"><i class="icon-header fab fa-facebook"></i></a>
            <a class="a-header" id="" href="/back"><i class="icon-header fas fa-angle-double-up"></i></a>

            <div id="google_element"></div>
            
        </div> 

    </div>
        
    
</header> 

<script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
<script src="/js/googleTranslate.js"></script>

<!-- <div class="traductor" id="google_translate_element">    
    <span><i class="fas fa-language"></i></span>
</div> -->