<header class="flex d-flex flex-column flex-md-row justify-content-between py-3 py-lg-0 px-md-3">
    <h2>Río Carcarañá</h2>

    <div class="container-logo" style="width: 150px;">
       <a href="/"><img src="../../../img/logos/logo-ship.png" alt=""></a>
    </div>
    <div class="col">
        <div class="row">
            <a class="text-white h4 mx-2" href=""><i class="fas fa-sign-out-alt"></i></a>
            <a class="text-white h4 mx-2" href=""><i class="fas fa-sign-out-alt"></i></a>
        </div>
        <label for="language"> Idioma:
          <select name="language">
             <option>Elegir idioma</option>
             <option>Español</option>
             <option>English</option>
          </select> 
        </label>
            </div>    
             </div>
</div>
</header>
