<header  >
    <nav class="topnav1">
<ul >
    <li>
        <h2>Río Carcarañá</h2>
   </li>
    <li>
        <a href="/"><img src="../../img/barco.png" alt=""></a>
    </li>
     <li class="col">
        <div class="img">
         <a href="#"><img src="../../../img/Instagram-Logo.wine.png" alt="Seguínos en instagram-Logo"></a>
        </li>
        <li>
         <a href="#"><img src="../../../img/logos/face-logo.jpg " alt="Seguínos en facebook"></a>
        </div>
        </li>
     
    <li>
    <label for="language"> 
        <select>
        <option>Elegir idioma</option>
        <option>Español</option>
        <option>English</option>
        </select> 
    </label>
   </li>    
</ul>
</nav>
</header>

